<ul>
  <li>
    <h3>{{ link-to 'Facebook' 'org.repos' 'facebook' }}</h3>
  </li>
  <li>
    <h3>{{  link-to 'Ember' 'org.repos' 'emberjs' }}</h3>
  </li>
  <li>
    <h3>Node</h3>
  </li>
  <li>
    <h3>Google</h3>
  </li>
  <li>
    <h3>Go</h3>
  </li>
</ul>
{{outlet}}
